#header{
	height: 64px;
}
#menu{
	position:fixed;
	top: 64px;
	right: 0px;
	left: 0px;
	bottom:0px;
    width: 20%;
    border: 0px solid transparent;
    padding: 16px 0px 0px 20px;
    margin: 0px;
    background:green;
}
#main{
	position:absolute;
	top: 64px;
	right: 0px;
	bottom: 0px;
	left: 20%;
    border: 0px solid transparent;
    padding: 0px 0px 0px 20px;
	overflow:auto; 
}
section{
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	left: 100%;
	width: 100%;

	transition: 0s left;
	-webkit-transition: 0s left;
	/*animation läuft tatsächlich nur auf die hälfte des section areals, dies war der lerneffekt
	grund: browser springt erst zu section und animiert dann, da die section dann schon quasi am zielort ist, läuft die animation nicht mehr richtig ab
	Setz man die transition auf 0 sec funktioniert es (meistens)*/
}
section:target{
	left: 0%;
}

#status{
    border: 1pt solid #000000;
    padding: 16px 0px 0px 20px;
    background:yellow;

    /*-webkit-animation-name: status-animation;
    -webkit-animation-duration: 4s;
    animation-name: status-animation;
    animation-duration: 4s;*/
}

#tasks{
    border: 1pt solid #000000;
    padding: 16px 0px 0px 20px;
    background:lightblue;

    /*-webkit-animation-name: tasks-animation;
    -webkit-animation-duration: 4s;
    animation-name: tasks-animation;
    animation-duration: 4s;*/
}

#status-overview{
	position:relative;
	border-collapse:collapse;
	border:3px solid #000000;
	padding: 16px 0px 0px 20px;
}
#status-overview th{
	border:5px solid #000000;
}
#status-overview td{
	border:1px solid #000000;
}

a:hover { 
    background-color: orange;
}

/* animations
@-webkit-keyframes status-animation {
    0% {left: 100%; height: 100%;}
}
@keyframes status-animation {
    0% {left: 100%; height: 100%;}
}
@-webkit-keyframes tasks-animation {
    0% {left 100%; height: 100%;}
}
@keyframes tasks-animation {
	0% {left 100%; height: 100%;}
}*/